body{
    text-align: center;
    background-image:url("https://i.postimg.cc/63cjmfvH/bg1.jpg");
    background-size: cover;
    background-position: center;
}
#myCanvas{
    background-color: white;
    border:10px ridge rgb(130, 243, 224);
}